{:paths ["src"]
 :deps {clj-kondo/clj-kondo {:mvn/version "2026.05.25"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :run {:main-opts ["-m" "clj-kondo-fix.main"]}
  :gen-fixtures {:extra-paths ["local"]
                 :main-opts ["-m" "gen-fixtures"]}
  :gen-rules    {:extra-paths ["local"]
                 :main-opts ["-m" "gen-rules-md"]}}}
